* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-image: linear-gradient(120deg, #9be9bb 0%, #fda085 100%);
  background-repeat: no-repeat;
  min-height: 100vh;

}
.App {
  width:inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

  
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;

  
}
.todoInput {
  
  width: 20rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 0;
  
}
.todoSubmit {
  height: 2rem;
  width: 2rem;
  margin-left: 0;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.todoContainer {
  width: 90%;
  display: flex;
}
.todoList {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.todo{
  width: 90%;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}
.checkBtn {
  height: 2rem;
  width: 2rem;
  margin-left: 0;
  margin-right: 0;
}
.deleteBtn {
  height: 2rem;
  width: 2rem;
  margin-left: 0;
  margin-right: 0;
}
.todo-item {
  font-size: 1.3rem;
  font-weight: bolder; 
}